* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.warranty__logo{
    font-size: 40px;
    color: black;
    padding: 10px 200px;
}

.form__warranty h2{
    padding-bottom: 20px;

}

.crl{
    padding: 25px;
    clear: both;
}

.block__content{
    background-image: url('https://www.phongnt20521745.tk/API/Img/baohanh.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    width: 1500;
    height: auto;
    padding-top: 85px;
    font-family: arial;
    margin-bottom: 15px;
}

.form__warranty{
    background-color: #ededed;
    border-top: 200px;
    width: 53%;
    padding: 35px 25px;
    text-align: center;
    height: fit-content;
    border-radius: 5px;
}

.block__display{
    display: inline;
    padding-top: 15px;
    width: 90%;
}

.form__text{
    font-size: 13px;
    font-weight: 600;
}

.form__text span{
    color: red;
}

.form__left{
    min-width: 300px;
    width: 50%;
    text-align: left;
    float: left ;
    text-align: left;
    padding-left: 10px;
}

.form__input{
    width: 100%;
    height: 31px;
    margin: 8px 0px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px #d9d9d900 solid;
    border-color: rgba(0, 0, 0, 0.225);
}

.form__select{
    width: 100%;
    height: 31px;
    margin: 8px 0px;
    padding-left: 20px;
    border-radius: 3px;
    display: block;
    border: 1px #d9d9d900 solid;
    border-color: rgba(0, 0, 0, 0.225);
}

.form__input:focus{
    outline: 3px solid transparent;
    background-color: #d9d9d9;
    transition: 180ms box-shadow ease-in-out;
}

.form__btn {
    background-color: #d52b32;
    width: 180px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 12px 0;
    margin-top: 20px;
    cursor: pointer;
}

.crl{
    clear: both;
}

